/* Ideas to alter styling of Google translate dropdown obtained from https://stackoverflow.com/questions/6633127/can-you-style-the-google-translate-plugin*/

#google_translate_element div {
    font-size: 16px;
    border-radius: 5px;
}

.jumbotron {
    background-color: #FAD000;
    padding: 15px;
    width: 100%;
}

.jumbotron img {
    width: 100px;
    height: 100px;
    text-align: right;
}

#changeText {
    font-size: 16px;
}

.container{
    background-color: white;
    padding: 0;
}

.container2{
    padding: 15px;
}

/*
.jumbotron img {
    width: 150px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.9;
}
*/


