{% extends "index.html" %}
{% block form %}

<div class="row">
   <div class="col-lg-5" style="padding:10px;">
      <h4> The time between Stop {{ origin }} and Stop {{ destination }} is: <br>
         Time = {{ time }} minutes     
      </h4>
       <h3> Stop-to-stop info will go here - how long between each stop or somthing </h3>
   </div>
   <div class="col-lg-7">
      <!-- This is just to show how the map will look. Will probably have to change to a JavaScript map to get markers and that in but this is where it'll go anyway. For now this is just a placeholder -->
      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAlWdso5n60j97uMVDtQDSDQb9AxgYcEhU&q=University+College+Dublin,Dublin" allowfullscreen>
      </iframe>
   </div>
</div>
<br><br>

<div class="row">
    <div class="col-lg-5"></div>
   <div class="col-sm-7">
      <h3> Keep track of the road conditions all across the country! </h3>
      <!-- To input twitter feed on webpage obtained from https://support.twitter.com/articles/20170071-->
      <a class="twitter-timeline" data-width="500" data-height="300" data-theme="light" href="https://twitter.com/aaroadwatch">Tweets by aaroadwatch</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
       <br>
       
       <h4> Follow us on Twitter or Tweet to us! </h4>
       <a href="https://twitter.com/Team1010_DubBus" class="twitter-follow-button" data-show-count="false">Follow @Team1010_DubBus</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          <a href="https://twitter.com/intent/tweet?screen_name=Team1010_DubBus" class="twitter-mention-button" data-show-count="false">Tweet to @Team1010_DubBus</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>
</div>
{% endblock %}

