<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Dublin Bus Travel App</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.js"></script>
      <script src="/static/jquery-ui.js"></script>
      <script type="text/javascript" src="/static/script.js"></script> 
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
      <link id="pagestyle" rel="stylesheet" type="text/css" href="/static/mainStyle.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.css" />
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   </head>
    <body>
        <nav class="navbar navbar-inverse bg-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="#"><img src="/static/LogoNavBar.JPG" width="30" height="30" class="d-inline-block align-left" align="left" alt="">      Dublin bus travel time predictor</a>
            </div>
            <ul class="nav navbar-nav">
               <li><a href="{{ url_for('index') }}">Home</a></li>
               <li><a href="{{ url_for('fareInfo') }}">Fares</a></li>
               <li class="active"><a href="{{ url_for('generalInfo') }}">General information</a></li>
            </ul>
         </div>
      </nav>
      <div class="pic"></div>
      <br>
      <div class="container">
          <div class="row">
          <p style="font-size:16px">
Bus Átha Cliath-Dublin Bus, a designated activity company, limited by shares, registered in Ireland at 59 Upper O’Connell St, Dublin 1. No 119569 was founded in 1987 and is a wholly owned subsidiary of the state-owned Córas Iompar Eireann Group. They operate the Public Service Obligation network in the Greater Dublin Area under a contract of services with the National Transport Authority. Our network covers a region from Newcastle in County Wicklow to the south, Balbriggan in north County Dublin and Maynooth in County Kildare to the west.<br><br>

In 2015 they carried 122 million customers on their extensive range of services - Cross City, Radial, Orbital, DART Feeder, Airlink, express limited stop commuter services, Nitelink, and Sightseeing tours.<br><br>

              Dublin Bus employs 3,400 people from 68 different countries. Their 2,500 drivers operate a fleet of 950 buses which are all low-floor wheelchair accessible and fully Wi-Fi enabled. </p><br>
       
              <h4> Follow Team 10 on Twitter or Tweet to us! </h4>
                     <a href="https://twitter.com/Team1010_DubBus" class="twitter-follow-button" data-show-count="false">Follow @Team1010_DubBus</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                     <a href="https://twitter.com/intent/tweet?screen_name=Team1010_DubBus" class="twitter-mention-button" data-show-count="false">Tweet to @Team1010_DubBus</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            
              <br><br>
            
          
          <a href="https://dodublin.ie/" class="btn btn-success">For tourist information click here</a>
          <a href="https://www.dublinbus.ie/Your-Journey1/Timetables/Airport-Services/" class="btn btn-info">For airport services click here</a>        
  
          
              
        </div>
        </div>
       
        
        <br><br>
      <footer class="footer">
         <p>Emma Byrne, Wen-Ting Chang, Ian Fuchs, Willie Delaney </p>
      </footer>
    </body>
</html>