<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Dublin Bus Travel App</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.js"></script>
      <script src="/static/jquery-ui.js"></script>
      <script type="text/javascript" src="/static/script.js"></script> 
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
      <link id="pagestyle" rel="stylesheet" type="text/css" href="/static/mainStyle.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.css" />
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   </head>
   <body>
      <nav class="navbar navbar-inverse bg-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="#"><img src="/static/LogoNavBar.JPG" width="30" height="30" class="d-inline-block align-left" align="left" alt="">Dublin bus travel time predictor</a>
            </div>
            <ul class="nav navbar-nav">
               <li><a href="{{ url_for('index') }}">Home</a></li>
               <li><a href="{{ url_for('fareInfo') }}">Fares</a></li>
               <li class="active"><a href="{{ url_for('generalInfo') }}">General information</a></li>
            </ul>
         </div>
      </nav>
      <div class="pic"></div>
      <div class="mainContainer">
         <br>
         <div class="container">
            <div class="container2">
               <div class="row">
                  <div class="col-sm-4" style="font-size:16px">
                     <h4> Follow Team 10 on Twitter or Tweet to us! </h4>
                     <a href="https://twitter.com/Team1010_DubBus" class="twitter-follow-button" data-show-count="false">Follow @Team1010_DubBus</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                     <a href="https://twitter.com/intent/tweet?screen_name=Team1010_DubBus" class="twitter-mention-button" data-show-count="false">Tweet to @Team1010_DubBus</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </div>
                  <div class="col-sm-3">
                     <br>
                     <!--  Code to add translation feature to website obtained from https://translate.google.com/manager/website/-->
                     <div id="google_translate_element">
                        <script type="text/javascript">
                           function googleTranslateElementInit() {
                             new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
                           }
                        </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                     </div>
                  </div>
                  <div class="col-sm-4" style="text-align: center">
                     <!--  Ideas for getting a toggle switch obtained from https://www.w3schools.com/howto/howto_css_switch.asp-->
                     <label for="toggle" style="font-size:14px; text-align:left"> Click me to toggle night mode </label>
                     <label class="switch">
                     <input id="toggle" type="checkbox" onclick="toggleNightMode()">
                     <span class="slider round"></span></label>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-3">
                     <button id="myButton1" type="button" class="btn" data-toggle="collapse" data-target="#twitter" onclick="changeButton()">Click to hide Twitter feeds</button>
                  </div>
               </div>
               <br>
               <div class="collapse in row" id="twitter">
                  <div class="col-sm-4">
                     <a class="twitter-timeline" data-width="auto" data-height="500" href="https://twitter.com/dublinbusnews">Tweets by dublinbusnews</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </div>
                  <div class="col-sm-4">
                     <a class="twitter-timeline" data-width="auto" data-height="500" href="https://twitter.com/Luas">Tweets by Luas</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </div>
                  <div class="col-sm-4">
                     <a class="twitter-timeline" data-width="auto" data-height="500" href="https://twitter.com/IrishRail">Tweets by IrishRail</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </div>
               </div>
               <br>
               <div class="row">
                  <div class="col-sm-12">
                     <button type="button" class="btn btn-primary" style="margin-bottom: 8px" data-toggle="collapse" data-target="#eventInfo">Click to find event information</button>
                     <button type="button" class="btn btn-danger" style="margin-bottom: 8px" data-toggle="collapse" data-target="#diversions">Click here to view diversion information</button>
                     <button type="button" class="btn btn-primary" style="margin-bottom: 8px" data-toggle="collapse" data-target="#airportInfo">Click for airport services</button>
                     <a href="https://dodublin.ie/" class="btn btn-success" style="margin-bottom: 8px">For tourist information click here</a>
                  </div>
               </div>
               <br>
               <div class="row">
                  <div id="eventInfo" class="collapse">
                     <div class="col-sm-12"><br><iframe src="https://www.dublinbus.ie/Bus-it-to-Events/" style="height: 560px; width:100%">
                        </iframe>
                     </div>
                  </div>
               </div>
               <div id="diversions" class="collapse col-sm-12">
                  <h3>Diversion on Routes 4, 7, 45a, 46a, 59, 63 and 75</h3>
                  <h4>
                     Published on Thursday, July 27, 2017 
                  </h4>
                  We wish to advise customers that due to the DLR Bay 10k Road Race, Routes 4, 7, 45a, 46a, 59, 63 and 75 will have the below diversions in place from 10.00 to 13.00 on Monday 7 August.
                  <h4>Route 4 From City Centre</h4>
                  Buses are operating to and from the old terminus at Stradbrook/ Abbey Road.
                  <h4>Route 7/a From City Centre</h4>
                  At Temple Hill buses will divert right via Stradbrook Road towards Abbey Road Roundabout, Bakers Corner, Rochestown Avenue, Sallynoggin Road, Pearse Street and back on to normal route.
                  Route 7/a From Brides Glen Luas Stop
                  Normal route to Sallynoggin Church, Pearse Street, then via Sallynoggin Road, Rochestown Avenue, Bakers Corner, Abbey Road, Stradbrook Road, Temple Hill and back on to normal route. 
                  <h4>Route 45a Towards Dun Laoghaire</h4>
                  Normal route to Rochestown Avenue, Bakers Corner, Abbey Road and terminate at last stop before roundabout.
                  Route 45a Towards Ballywaltrim
                  From roundabout at Abbey Road via Bakers Corner, Rochestown Avenue and back on to normal route. 
                  <h4>Routes 46a, 63 and 75 Towards Dun Laoghaire</h4>
                  Normal route to Bakers Corner, left to Abbey Road and terminate at last stop before Abbey Road Roundabout.
                  Routes 46a, 63 and 75 From Dun Laoghaire 
                  From roundabout at Abbey Road via Bakers Corner, Kill Avenue and back on to normal route. 
                  <h4>Route 59 to and from Mackintosh Park</h4>
                  From roundabout at Abbey Road via Bakers Corner, Kill Avenue and back on to normal route.
               </div>
               <div class="row">
                  <div id="touristInfo" class="collapse">
                     <div class="col-sm-12"><br><iframe src="https://dodublin.ie/" style="height: 560px; width:100%">
                        </iframe>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div id="airportInfo" class="collapse">
                     <div class="col-sm-12"><br><iframe src="https://www.dublinbus.ie/Your-Journey1/Timetables/Airport-Services/" style="height: 560px; width:100%">
                        </iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer class="footer">
         <p style="padding:10px"> &copy; Team1010: Emma Byrne, Wen-Ting Chang, Ian Fuchs, Willie Delaney </p>
      </footer>
   </body>
</html>