<!DOCTYPE html>
<html lang="en">
   <head>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
    
    <script>
        var xmlhttp = new XMLHttpRequest();
var url = "http://data.dublinked.ie/cgi-bin/rtpi/realtimebusinformation?stopid=1111&format=json";

xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
        
        //Parse the JSON data to a JavaScript variable. 
        parsedObj = JSON.parse(xmlhttp.responseText);
}
};
 xmlhttp.open("GET", url, true);
xmlhttp.send();
        
        
        
        function getInfo() {
            var list = parsedObj.list;
            console.log(list);
        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
//        function getInfo() {
//        $.getJSON("http://data.dublinked.ie/cgi-bin/rtpi/realtimebusinformation?stopid=1111&format=json", function(data) {
////            var stations = data.stations;
//            var route = data.results[0].route;
//            console.log(route);
////            _.forEach(stations, function(station) {
////                var obj = JSON.parse(stations);
////                console.log(obj);
//                
//                
//                
//            })
//        }
        
//        $(document).ready(function() {
//	// Automatically trigger DayNight_Mode()
//	getInfo();
//});
        
        
//        function getLiveWeather() {
//	//call weather API from openweathermap - https://openweathermap.org/current and https://openweathermap.org/weather-conditions
//	var weatherdata;
//	$.getJSON('http://api.openweathermap.org/data/2.5/weather?q=dublin,ie&units=metric&appid=9ce0d37e8c0ceb69395465d3d9ea6594', function(data) {
//		var currentWeather = data.weather[0].description;
//		var current_temp = data.main.temp;
//		var wind_speed = data.wind.speed;
//        // Make first letter of currentWeather uppercase
//        var currentWeatherFirstLetterUppercase = currentWeather.charAt(0).toUpperCase() + currentWeather.slice(1);
//		var icon = ("<img src='http://openweathermap.org/img/w/" + data.weather[0].icon + ".png'>");
//		document.getElementById("weather").innerHTML = "The current temperature is: " + current_temp + " &#8451 <br> Windspeeds of: " + wind_speed + " m/s <br> Overall: " + currentWeatherFirstLetterUppercase + icon;
//	})
//}
        </script>
    
        
        View console
    
    
    
    </body>
</html>